doctype 5
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        if title == ''
            title Semantix
        else
            title= "Semantix | " + title
                
        meta(name='description', content='semantix')
        meta(name='viewport', content='width=device-width')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
        style(type='text/css')
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
            #top textarea {
                width: 100%;
            }    
            #urlInput button {
                margin-right: auto;
                margin-left: auto;
                width: 100%;
            }
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,800|Droid+Serif|Droid+Sans', rel='stylesheet', type='text/css')
        script(src='js/jquery.js')

        script
            function fill() {
                fillHTML();
                fillJSON();
            };

            function fillHTML() {
                $('textarea#htmlText').val('<!DOCTYPE html>\n<html>\n<style>\n\t#ContactInfo {\n\t\tFONT-FAMILY: Verdana,Geneva,sans-serif\n\t}\n\t.hours {}\n\t.availableUtilities {}\n\t.utilities {}\n</style>\n<body >\n<title>Honest  Ed\'s</title>\n<h1>HONEST ED\'S</h1>\n<p id=\"Directions\">\n\t581 Bloor St. W., Toronto, ON M6G 1K3\n\tTel: (416) 537-1574\n\tFax: (416) 537-3041\n\tAmerican Express, Cash, Debit Card, Mastercard, Visa. </p>\n<div class=\"availableUtilities\">\n\t<img src=\"\" alt=\"wheelchair\"></img>\n\t<img src=\"\" alt=\"wifi\"></img>\n</div>\n<div id= \"ContactInfo\">\n<span class=\"hours\"> HOURS<br>Monday to Friday: 10am-9pm<br>Saturday: 10am - 6pm<br>Sunday: 11am-6pm </span>\n<span class=\"utilities\"> We accept reservations, and do deliveries </span>\n</div>\n<div id=\"menu\">\n\t <div>Home</div>\n\t <div>Map</div>\n\t  <div>How to get there</div>\n\t <div>Pharmacy</div> \n</div>\n</body>\n</html>');
            };

            function fillJSON() {
                $('textarea#jsonText').val('{\n\t\"content\": [\n\t\t{\n\t\t\t\t\"content\": {\n\t\t\t\"text\": \n\t\t\t#ContactInfo {\n\t\t\t\tFONT-FAMILY: Verdana,Geneva,sans-serif\n\t\t\t}\n\n\t\t\t\t.hours{\n\t\t\t}\n\n\t\t\t\t.availableUtilities{\n\n\t\t\t\t}\n\n\t\t\t\t.utilities{\n\t\t\t\t}, \n\t\t\t\t\"type\": \"style\"\n\t\t}, \n\t\t{\n\t\t\t\"content\": [\n\t\t\t{\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"text\": \"Honest  Ed\'s \"\n\t\t\t\t}, \n\t\t\t\t\"type\": \"title\"\n\t\t\t}, \n\t\t\t{\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"text\": \"HONEST ED\'S\"\n\t\t\t\t}, \n\t\t\t\t\"type\": \"h1\"\n\t\t\t}, \n\t\t\t{\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"text\": \"  581 Bloor St. W., Toronto, ON M6G 1K3 Tel: (416) 537-1574, Fax: (416) 537-3041\r\nAmerican Express, Cash, Debit Card, Mastercard, Visa. \"\n\t\t\t\t}, \n\t\t\t\t\"id\": \"Directions\", \n\t\t\t\t\"type\": \"p\"\n\t\t\t}, \n\t\t\t{\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"attrs\": {\n\t\t\t\t\t\"alt\": \"wheelchair\", \n\t\t\t\t\t\"src\": \"\"\n\t\t\t\t}, \n\t\t\t\t\"type\": \"img\"\n\t\t\t\t}, {\n\t\t\t\t\t\"attrs\": {\n\t\t\t\t\t\"alt\": \"wifi\", \n\t\t\t\t\t\"src\": \"\"\n\t\t\t\t\t}, \n\t\t\t\t\t\"type\": \"img\"\n\t\t\t\t}\n\n\t\t\t\t\"css\": \"availableUtilities\"\n\t\t\t}, \n\t\t\t{\n\t\t\t\"content\": [\n\t\t\t\t{\n\t\t\t\t\t\"content\": [\n\t\t\t\t\t{\n\t\t\t\t\t\"text\": \" HOURS Monday to Friday: 10am-9pm Saturday: 10am - 6pm Sunday: 11am-6pm \"\n\t\t\t\t\t}\n\t\t\t\t\t], \n\t\t\t\t\t\"css\": \"hours\", \n\t\t\t\t\t\"type\": \"span\"\n\t\t\t\t}, \n\t\t\t\t{\n\t\t\t\t\t\"content\": {\n\t\t\t\t\t\"text\": \" We accept reservations, and do deliveries \"\n\t\t\t\t\t}, \n\t\t\t\t\t\"css\": \"utilities\", \n\t\t\t\t\t\"type\": \"span\"\n\t\t\t\t}\n\t\t\t], \n\t\t\t\"id\": \"ContactInfo\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"content\": [\n\t\t\t\t{\n\t\t\t\t\"content\": [\n\t\t\t\t{\n\t\t\t\t\"text\": \" HOURS Monday to Friday: 10am-9pm Saturday: 10am - 6pm Sunday: 11am-6pm \"\n\t\t\t\t}\n\t\t\t\t], \n\t\t\t\t\"css\": \"hours\", \n\t\t\t\t\"type\": \"span\"\n\t\t\t\t}, \n\t\t\t\t{\n\t\t\t\t\t\"content\": {\n\t\t\t\t\t\t\"text\": \" We accept reservations, and do deliveries \"\n\t\t\t\t\t}, \n\t\t\t\t\t\"css\": \"utilities\", \n\t\t\t\t\t\"type\": \"span\"\n\t\t\t\t}\n\t\t\t\t], \n\t\t\t\t\"id\": \"ContactInfo\"\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"content\": [\n\t\t\t\t\t{\n\t\t\t\t\t\t\"content\": {\n\t\t\t\t\t\"text\": \"Home\"\n\t\t\t\t\t\t}\n\t\t\t\t\t}, \n\t\t\t\t\t{\n\t\t\t\t\t\"content\": {\n\t\t\t\t\"text\": \"Map\"\n\t\t\t\t\t}\n\t\t\t\t}, \n\t\t\t\t{\n\t\t\t\t\t\"content\": {\n\t\t\t\t\t\"text\": \"How to get there\"\n\t\t\t\t\t}\n\t\t\t\t}, \n\t\t\t\t{\n\t\t\t\t\"content\": {\n\t\t\t\t\t\"text\": \"Pharmacy\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t\t], \n\t\t\t\t\"id\": \"menu\"\n\t\t\t\t}   \n\t\t\t\t], \n\t\t\t\t\"type\": \"body\"\n\t\t\t}\n\t\t], \n\t\"type\": \"html\"\n} ');
            };

            function parse() {
                var text = '[{"content": [{"content": {"text": "\r\n#ContactInfo {\r\n\tFONT-FAMILY: Verdana,Geneva,sans-serif\r\n}\r\n\r\n.hours{\r\n\r\n}\r\n\r\n.availableUtilities{\r\n\r\n}\r\n\r\n.utilities{\r\n\r\n}\r\n\r\n"}, "type": "style"}, {"content": [{"content": {"text": "Honest  Ed\'s "}, "type": "title"}, {"content": {"text": "HONEST ED\'S"}, "type": "h1"}, {"content": {"text": "  581 Bloor St. W., Toronto, ON M6G 1K3 Tel: (416) 537-1574, Fax: (416) 537-3041\r\nAmerican Express, Cash, Debit Card, Mastercard, Visa. "}, "type": "p", "id": "Directions"}, {"content": {"type": "img", "attrs": {"src": "", "alt": "wheelchair"}}, "css": "availableUtilities"}, {"type": "img", "attrs": {"src": "", "alt": "wifi"}}], "type": "body"}], "type": "html"}, {"content": [{"content": [{"text": " HOURS"}, {"type": "br"}, {"type": "br"}, {"type": "br"}], "type": "span", "css": "hours"}, {"content": {"text": " We accept reservations, and do deliveries "}, "type": "span", "css": "utilities"}], "id": "ContactInfo"}, {"content": [{"content": {"text": "Home"}}, {"content": {"text": "Map"}}, {"content": {"text": "How to get there"}}, {"content": {"text": "Pharmacy"}}], "id": "menu"}]';
                var directions = text.search('Directions');
                var reservations = text.search('reservations');
                $('#output').html('<h2>Directions</h2><br/><p>' + text.substring(directions, directions + 30) + '</p><h2>Reservations</h2><p>' + text.substring(reservations, reservations + 30) + '</p>'); 
                return;
            };         

    body(onload='fill()')
        div(class='navbar navbar-inverse navbar-fixed-top')
            .navbar-inner
                .container-fluid
                    a(class='btn btn-navbar', data-toggle='collapse', data-target='.nav-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.brand(href='#') Semantix
                    div(class='nav-collapse collapse')
                        p(class='navbar-text pull-right')
                            | Logged in as 
                            a.navbar-link(href='#') Raymond Huang
                        ul.nav
                            li.active
                                a(href='#') Home
        block content
    
        script(src='bootstrap/js/bootstrap.js')
        script(src='bootstrap/js/bootstrap-dropdown.js')
        script(src='bootstrap/js/bootstrap-collapse.js')
        

