html, body {
	height: 100%;
}

.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container-wrap {
	min-height: 100%;
}

.container-wrap .container {
	overflow: visible;
	padding-bottom: 0px;
}

.search-wrap {
    width: 100%;
}

.search-wrap input {
    width: 100%;
}

.data-wrap {
    margin-bottom: 30px;
}

.data-item, .data-item .label {
    margin-bottom: 10px;
    margin-right: 20px;
}

.noRightMargin {
    margin-right: 0;
}

#catATags_tagsinput, #catBTags_tagsinput {
    height: auto;
    overflow: auto;
    overflow-x: hidden;
}

.hide {
    display: none;
}

.footer {
	position: relative;
	margin-bottom: 0px;
	height: 70px;
	clear: both;
}

li a span.pull-left {
    margin-left: 0px;
}

dt {
    color: #ffffff;
    font-style: italic;
}

#new_category_button, #save_button {
    margin-top: 30px;
}

.category_label {
    margin-left: 0;
    margin-right: 30px;
}

#categoryA_select, #categoryB_select {
    width: 250px;
}

.input_container_A, .input_container_B {
    width: 300px;
}

input.span3.inputA, input.span3.inputB {
    width: 286px;
}

#directory_name, #category_name {
    width: 500px;
}

#directory_select {
    width: 514px;
}

.center-text {
    text-align: center;
}

#directory_select {
    margin: 0 auto;
    overflow: visible; 
}

.small-margin-bottom {
    margin-bottom: 10px;
}


.modal-header {
    border-radius: 6px;
    background-color: #D3D3D3;
    text-align: center;
}

#modal_alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#modal_alert.alert-info {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#modal_alert.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

#modal_alert.alert-success {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

div.modal-button {
    float:right;
    margin-left: 10px;
}

.modal { overflow: hidden; }
.modal-body { overflow-y: scroll; }