{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="span6 offset3">
            <div class="control-group huge center">
                <div class="input-append search-wrapper">
                    <input class="span2" id="search" type="text" placeholder="Search a URL here" value="http://www.cpk.com/" disabled="true">
                    <button class="btn btn-huge search-button" type="button">
                        <span class="fui-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset3 data-wrapper">
            <div class="page-header">
                <h1>Data <small>California Pizza Kitchen</small></h1>
            </div>
            <div class="span6 data-item">
                <span class="label label-large label-primary span1">Name</span>
                <p class="data">{{ data.name }}</p>
            </div>
            <div class="span6 data-item">
                <span class="label label-large label-primary span1">Business</span>
                <p class="data">{{ data.business }}</p>
            </div>
            <div class="span6 data-item">
                <span class="label label-large label-primary span1">Location</span>
                <p class="data">{{ data.location }}</p>
            </div>
            <div class="span6 data-item">
                <span class="label label-large label-primary span1">Hours</span>
                <p class="data">{{ data.hours }}</p>
            </div>
        </div>
    </div>
{% endblock %}
