{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="span6 offset3">
            <div class="control-group huge center">
                <div class="input-append search-wrap">
                    <input class="span2" id="search" type="text" placeholder="Search a URL here">
                    <button class="btn btn-huge search-button" type="button">
                        <span class="fui-search"></span>
                    </button>
                </div>
                <div class="loader hide">
                    <img src="../static/images/icons/Loader.gif">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12 data-wrap hide">
            <div class="page-header data-header">
                <h1>Data <small></small></h1>
            </div>
            <div class="row">
                <div class="span12 data-item">
                    <span class="label label-large label-primary span3">Name</span>
                    <p class="data data-name"></p>
                </div>
            </div>
            <div class="row">
                <div class="span9 data-item">
                    <span class="label label-large label-primary span3">Business Type</span>
                    <p class="data data-business"></p>
                </div>
            </div>

            <div class="row margin-zero">
                <div class="todo mrm span4">
                    <div class="todo-search categories-header">
                        Categories
                    </div>
                    <ul class="data-categories"></ul>
                </div>
            </div>
            <div class="row" id="tag-container"></div>
        </div>
    </div>
{% endblock %}
