{% extends "layout.html" %}
{% block content %}
    <div class="row">
        <div class="span12 data-wrap">
            
            <div class="row">
                <div class="span2">
                    <h2>Trainer</h2>
                </div>

                <div class="span6">
                    <div id="new_category_button" class="span2 btn btn-small btn-block btn-success">
                        Add New Category
                        <span class="fui-plus"></span>
                    </div>
                    <div id="save_button" class="span2 btn btn-small btn-block btn-info">
                        Save
                        <span class="fui-check"></span>
                    </div>
                </div>
            </div>
            
            <hr/>
            
            <div class="row">
                <div class="span6 data-item noRightMargin">
                    <h4>Category A</h4>
                </div>
                <div class="span6 data-item noRightMargin">
                    <h4>Category B</h4>
                </div>
            </div>

            <div class="row">
                <div class="span3 data-item noRightMargin">
                    <select id="categoryA_select"></select>
                </div>

                <div class="span3 category_label">
                    <div class="control-group input_container_A">
                        <input type="text" placeholder="Add New Label" class="span3 inputA">
                        <i id="add_categoryA_label" class="input-icon fui-plus-inverted"></i>
                    </div>
                </div>

                <div class="span3 data-item noRightMargin">
                    <select id="categoryB_select"></select>
                </div>

                <div class="span3 category_label">
                    <div class="control-group input_container_B">
                        <input type="text" placeholder="Add New Label" class="span3 inputB">
                        <i id="add_categoryB_label" class="input-icon fui-plus-inverted"></i>
                    </div>
                </div>
            </div>
            
            <!-- Container with all the tags -->
            <div id="draggable_container" class="row">
                <div class="span6 data-item noRightMargin">
                    <div id="catATags_tagsinput" class="tagsinput droppable connectedSortable"></div>
                </div>
                <div class="span6 data-item noRightMargin">
                    <div id="catBTags_tagsinput" class="tagsinput droppable connectedSortable"></div>
                </div>
            </div>

            <!-- Modal -->
            <div id="create_category_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <h4 id="myModalLabel">Add New Category</h4>
                </div>
                <div class="modal-body">
                    <div id="modal_alert" class="alert-info">
                        <strong>Note:</strong> A directory and category name must be provided!
                    </div>
                    <form>
                        <label>Directory Name:</label>
                        <input type="text" name="directory_name" id="directory_name" placeholder="Name of new directory" class="text ui-widget-content ui-corner-all span4" />
                        <div class="center-text small-margin-bottom">OR</div>
                        <select id="directory_select"></select>
                        <hr/>
                        <label>Category Name:</label>
                        <input type="text" name="category_name" id="category_name" placeholder="Name of new category" class="text ui-widget-content ui-corner-all span4" />
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="span1 modal-button">
                        <button id="modal_close_btn" class="btn btn-small btn-block" aria-hidden="true">Close</button>
                    </div>
                    <div class="span1 modal-button">
                        <button id="add_new_cat_btn" class="btn btn-block btn-primary btn-small">Add</button>
                    </div>
                </div>
            </div>    

        </div>
    </div>
{% endblock %}
